<html>
  <head>
          <meta charset="utf-8">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
         <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
         <script src="js/js_functions.js" type="text/javascript"></script>
         <link rel="stylesheet" href="style.css">
        <title>
             Student Automation
        </title>
  </head>
  <body>
        <div class="navbar">
            <a href="index.cfm">Register Student</a>
            <a href="list_student.cfm">List Students</a>
       </div>    
  </body>
</html>


<style>
     body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #f1f1f1;
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}
</style>

